<div class="container text-center">
    <h1 class="text-center">EMPLOYEE MANAGEMENT SYSTEM</h1>
    
    <h2> View Employee Details</h2>
    <div class="q w">
        <div class="w">
            <label> <b> First Name: </b></label> {{employee.firstName}}
        </div>
        <div class="w">
            <label> <b> Last Name: </b></label> {{employee.lastName}}
        </div>
        <div class="w">
            <label> <b> Email Id: </b></label> {{employee.emailId}}
        </div>
    </div>
</div>