@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

h1{
    
    font-family: 'Silkscreen', cursive;
    font-size: 40px;
}

.tt{
    margin-left: 10px;
}
.container{
    padding-top: 30px;
}